
@{
    ViewBag.Title = "Клуб английского языка Simple";
}

<div class="padding-15 bg-white">
    <div class="inline-content-container">
        <div class="inner-wrapper">
            <div class="caption">
                <h2>Клуб</h2>
            </div>
            <div class="separator"></div>
            <div class="description" style="width:600px;">
                <p>
                    Самый надежный способ изучить язык - это полное погружение в него, сделать процесс обучения частью повседневной жизни.
                </p>        
                <p>
                    Клуб Simple предлагает незаезженный способ учить язык - НЕФОРМАЛЬНЫЕ ВСТРЕЧИ, на которые приходят разные люди: с разными историями, с разным жизненным опытом, с разным багажом знаний.
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="color-grey2">
        
        
        <p>
            Мы сами формируем программу, мы изучаем то, что нам интересно и в том формате, который нам нравится.
        </p>
        <p>
            Упор делается именно на РАЗГОВОРНЫЙ АНГЛИЙСКИЙ. Именно он пригодиться в путешествиях и на работе, именно благодаря разговорному английскому придет понимание письменного.
        </p>
        <p>
            Двери нашего клуба открыты для всех желающих: приходите сами, приводите своих детей и приглашайте друзей.
        </p>
    </div>
</div>