@{
    ViewBag.Title = "Клуб английского языка Simple";
}

<div class="bg-white padding-15">
    <h1 class="color-red">Хотите иметь языковую практику не выезжая из Тулы?</h1>
    <p class="color-grey2 font-24">
        Многие(почти все) учили английский язык в школе, институте и т.д. Но потом, время и отсутствие необходимости напрочь стерли эти знания из нашей памяти.
    </p>
    <p class="color-grey2 font-24">
        Мы решили изменить эту ситуацию и организовали "Клуб любителей английского языка 'Simple'". Поскольку клуб делается для себя, то мы сами определяем формат, место и время встречи, которое нам удобно.
    </p>
    <p class="color-grey2 font-24 margin-top-25">
        Мы проводим регулярные встречи на которых:
        <ul class="color-grey2 font-18 margin-left-45">
            <li>
                <span>Вам придеться заговорить и пополнить свой словарный запас</span>
            </li>
            <li>
                <span>Вы познакомитесь с новыми людьми</span>
            </li>
            <li>
                <span>Будет интересно</span>
            </li>
        </ul>
    </p>
    <p class="color-grey2 font-24 margin-top-25">
        Более подробную информацию можно получить в нашей группе в Вконтакте <a class="color-red" target="_blank" href="http://vk.com/simpleenglishclub">http://vk.com/simpleenglishclub</a>
    </p>
</div>
