
@{
    ViewBag.Title = "Клуб английского языка Simple | Индивидуальные занятия с детьми";
}

<div class="bg-white padding-15">
    <div class="color-grey2">
        <p>
            Вам нужно улучшить школьную успеваемость, хотите быть уверены в результатах ЕГЭ, ГИА?
        </p>
        <p>
            Или планируете отправить ребенка учиться иностранную школу?
        </p>
        <p>
            Свяжитесь с нами и Мы подумаем как это сделать.
        </p>
    </div>
    <div class="simple-list">
        <div class="caption">
            <h2>
                Стоимость занятий
            </h2>
        </div>
        <div class="details">
            <ul>
                <li>
                    <p>
                        300 руб. за академический час (45 мин.)
                    </p>
                </li>
                <li>
                    <p>
                        4200 руб. за месяц (2 занятия в неделю по 2 академических часа)
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="simple-list">
        <div class="caption">
            <h2>
                Доступное время для занятий
            </h2>
        </div>
        <div class="details">
            <ul>
                <li>
                    <p>
                        Понедельник | 10.00 - 16.00
                    </p>
                </li>
                <li>
                    <p>
                        Среда | 10.00 - 16.00
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>