
@{
    ViewBag.Title = "Клуб английского языка Simple | Индивидуальные занятия с взрослыми";
}

<div class="bg-white padding-15">
    <div class="color-grey2">
        <p>
            В процессе трудовой деятельности для многих людей неожиданно выяснилось,
            что для дальнейшего карьерного роста необходимо улучшать уровень владения языком.
        </p>
        <p>
            Мы не предлагаем курсы, направленные на закрепление прилагательных, числительных или герундия.
            У нас другой подход - прежде всего выясняется для чего человеку улучшить степень владения языком.
            Туристическая поездка в соединенные штаты - будут смоделированы следующие регистрация в аэропорту, как добраться до нужного адреса, как расспросить где можно поесть отдухнуть и т.д.
            Приезжаею иностранные коллеги - встреча, рассказ о предметной области (военной, информационной и т.д.).
        </p>
        <p>
            Мы с вами согласовываем кол-во и место и время проведения занятий.
            Занятия оплачиваются индивидуально, или сразу за месяц. Как вам позволить желание и бюджет.
        </p>

    </div>
    <div class="simple-list">
        <div class="caption">
            <h2>
                Стоимость занятий
            </h2>
        </div>
        <div class="details">
            <ul>
                <li>
                    <p>
                        350 руб. за академический час (45 мин.)
                    </p>
                </li>
                <li>
                    <p>
                        4600 руб. за месяц (2 занятия в неделю по 2 академических часа)
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="simple-list">
        <div class="caption">
            <h2>
                Доступное время для занятий
            </h2>
        </div>
        <div class="details">
            <ul>
                <li>
                    <p>
                        Вторник | 10.00 - 16.00
                    </p>
                </li>
                <li>
                    <p>
                        Четверг | 10.00 - 16.00
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
