
@{
    ViewBag.Title = "Клуб английского языка Simple | Skype - занятия";
}

<div class="bg-white padding-15">
    <div class="color-grey2">
        <p>
            Есть желание улучшить уровень английского языка?
        </p>
        <p>
            Заниматься самостоятельно по каким-то причинам не получается (скучно, не находиться время и т.д.).
        </p>
        <p>
            Предлагаем Вам попробовать skype занятия по английскому языку.
        </p>
        <p>
            Skype занятие - самый современный способ улучшить разговорные навыки. 
        </p>
        <p>
            Он имеет массу преимуществ перед традиционными способами:
        </p>
        <p>
            <ul class="margin-left-45">
                <li>
                    Удобно - можно подобрать удобное время; не нужно тратить время, чтобы добраться до преподавателя
                </li>
                <li>
                    Доступно - чтобы начать заниматься необходима только веб-камера и наушники с микрофоном.
                </li>
                <li>
                    Выгодно - низкая стоимость занятия
                </li>
            </ul>
        </p>
    </div>
    <div class="simple-list">
        <div class="caption">
            <h2>
                Стоимость занятий
            </h2>
        </div>
        <div class="details">
            <ul>
                <li>
                    <p>
                        350 руб. за академический час (45 мин.)
                    </p>
                </li>
                <li>
                    <p>
                        4600 руб. за месяц (2 занятия в неделю по 2 академических часа)
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>